Plugins/Developer/

# Visual Studio
.codex/
.vs/
.claude/
Content/UltraDynamicSky/
Reedme/
Claude.md
Codexreedme/

# Content Folder
Content/Collections/
Content/Developers/
Content/Migration/
Plugins/Developer/
Content/Assets/
Plugins/Inventory/Content/InventoryAssets/
Plugins/UnrealMCP
# Unreal Engine build artifacts
Build/
Builds/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.idea/
FileOpenOrder/
Binaries/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/
Plugins/UnrealMCP


# User-specific files
*.sln
*.suo
*.user
*.userprefs
*.opensdf
*.sdf
*.ipch
*.log
*.tlog

# Build results
*.obj
*.pch
*.pdb
*.exe
*.dll
*.lib
*.app
*.dylib
*.so
nul
